<!DOCTYPE html>
<html ng-app="Principal">

  <head>
  <title>Nomina UD</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/bootstrap-select.min.css">

  <style> .btn{margin-bottom: 20px} </style>

  <script src="js/angular.js" > </script>
  <script src="js/angular-route.js"></script>
  <script src="Controladores/main.js"></script>
  <script src="js/principal.js"></script>
  <script src="Controladores/c_usuarios.js"> </script>
	<script src="Controladores/c_nominas.js"> </script>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap-select.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="Servicios/s_liquidacion.js"></script>

  </head>

    <body  ng-app="principal" ng-controller="c_nominas">

      <div class="row" >

        <div  class="jumbotron" >
          <h1 class="text-center">Lista de Nominas</h1>
        </div>

        <div class="col-xs-9">
          <table class="table" >
            <tr>
              <td><label class="col-md-3">BUSCAR:</td>
              <td><input type="text" ng-model="buscador"/></td>
            </tr>
           </table>
        </div>

      </div>

      <div  ng-show="lista_nom != null">

        <div>
          <table class="table table-hover" >
            <tr>
              <th></th>
              <th>Id de la nomina</th>
              <th>Vinculacion</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Tipo Nomina</th>
              <th>Estado</th>
              <th>Periodo</th>
            </tr>

            <tr class="large-12 columns">
            <tr class="panel callout radius" ng-repeat="nomina in lista_nom | filter: buscador">
            <label type="radio" value={{nomina.id}}>
            <td></td>
            <td> {{ nomina.Id}} </td>
            <td> {{ nomina.Vinculacion}}</td>
            <td> {{ nomina.Nombre}}</td>
            <td> {{ nomina.Descripcion}}</td>
            <td> {{ nomina.Tipo_nomina}}</td>
            <td> {{ nomina.Estado}}</td>
            <td> {{ nomina.Periodo}} </td>

          	<td style="display: inline-block">
          	<button type="button" ng-click="go(nomina.id)" class="btn btn-sm btn-danger">
            <i>
            </i>Ver
            </button>
            </td>
            </tr>
           </table>
          </div>
         </div>


         <div class="row">
         <div class="col-md-7 pull-right">
         <button type="button" ng-click="insertarNomina()" class="btn ">NUEVA</button>
<!--         <button type="button" class="btn ">VER</button>
         <button type="button" class="btn btn-warning">ELIMINAR</button>
-->
         </div>
         </div>
-->
    </body>
</html>
